body {
  background-image: url("../images/susan_and_denise_bg.jpg");
  background-size: cover;
}

main.container {
  background-image: url("../images/left_right_harpies__cropped.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 35%;
}

@media (max-width: 576px) {
  main.container {
    background-position-y: 94%;
  }

  #contact {
    width: 60% !important;
  }

  #instagram {
    width: 50% !important;
  }
}
